<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

<!--    title displayed in browser's title bar-->
    <title>NLP App | Login</title>
</head>

<!--body contains content visible to users-->
<body>
<!--    header-->
    <h1> My NLP App </h1>

<!--Login Section-->
    <h3>Login here </h3>

    {% if message %}
    <p> {{ message }}</p>
    {% endif %}

    <form action="/perform_login" method="post">
<!--        email input-->
        <label> Email</label><br>
        <input type="email" name="useremail"><br>

<!--        password input-->
        <label> Password</label><br>
        <input type="password" name="password"><br><br>

<!--        Login Button-->
        <input type="Submit" value="Click to Login"><br>
    </form>
<!--Registration Link-->
    <p>Not a Member <a href="/register">Register here</a></p>

</body>
</html>