<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

<!--    title displayed in browser's title bar-->
    <title>NLP App | Login</title>
</head>

<!--body contains content visible to users-->
<body>
<!--    header-->
    <h1> My NLP App </h1>

<!--Login Section-->
    <h3>Login here </h3>
    <form>
<!--        email input-->
        <label> Email</label><br>
        <input type="email"><br>

<!--        password input-->
        <label> Password</label><br>
        <input type="password"><br><br>

<!--        Login Button-->
        <input type="button" value="Click to Register"><br>
    </form>
<!--Registration Link-->
    <p>Not a Member <a href="/register">Register here</a></p>

</body>
</html>