<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

<!--    title displayed in browser's title bar-->
    <title>NLP App | Register</title>
</head>

<!--body contains content visible to users-->
<body>
<!--    header-->
    <h1> My NLP App </h1>

<!--Registration Section-->
    <h3>Register here </h3>

    {% if message %}
    <p> {{ message }}</p>
    {% endif %}

    <form action="/perform_registration" method="post">

<!--        name input-->
        <label> Name</label><br>
        <input type="text" name="username" required><br>
<!--        email input-->
        <label> Email</label><br>
        <input type="email" name="useremail" required><br>

<!--        password input-->
        <label> Password</label><br>
        <input type="password" name="password" required><br><br>

<!--        Register Button-->
        <input type="submit" value="Click to Register"><br>
    </form>

<!--Login Link-->
    <p>Already a Member <a href="/">Login here</a></p>

</body>
</html>